:root{
    --color-background:rgb(221, 132, 174);
    --color-header: rgb(161, 11, 116);
    --input-hover: rgb(170, 69, 116);
    --color-button: rgb(189, 166, 195);
    --color-font: rgb(77, 51, 74);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    padding: 0px 1%;
}

header {
    background-color: var(--color-header);
    /*height: 100px;*/
    width: 100%;
    margin: 0 auto;
    padding: 0px 2%;
    border-radius: 0 0 15px 15px;
}


header .header-login {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(164, 181, 231,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header .header-inGame {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(164, 181, 231,0);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .header-login h1 {
    color: rgb(218, 181, 216);
    transition: font-size .2s;
    font-family: 'Luckiest Guy', cursive;
    font-size: 27px;
}

header .header-login h1:hover {
    font-size: 35px;
}

main {
    width: 100%;
    padding: 20px 10px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

main .form-container {
    background-color: rgba(236, 234, 234, 0.548);
    padding: 20px 0px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;  
    box-shadow: 15px 10px 21px rgb(58, 57, 57); 
}

main .form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-font);
}

.form-container form h2 {
    margin-bottom: 10px;
    font-family: 'Acme', sans-serif;
}

.form-container form .input-container {
    margin-bottom: 20px;
    width: 94%;
}

.form-container form h3 {
    margin-bottom: 5px;
}

form .input-container input {
    width: 100%;
    padding: 13px;
    outline: none;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
}

.input-container input[type=text]:focus {
    background-color: var(--input-hover);
    color: rgb(224, 221, 221);
    transition: .3s;
} 

form hr {
    width: 90%;
    padding: 1px;
    border: 0;
    border-radius: 100px;
    background-color: rgb(153, 75, 160);
    margin-bottom: 20px;
}

.input-container input[type=button] {
    background-color: var(--color-button);
    width: 150px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    transition: background-color .4s;
    cursor: pointer;
}

.input-container input[type=button]:hover {
    background-color: var(--input-hover);
    color: rgb(224, 223, 223);
}

.balao{
    width: 30px;
    height: 40px;
    border-radius: 90% 90% 100% 100%;
    background-color: black;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.botaodeIniciar{
    display: block;
    margin: 0 auto;
    border: 0;
    background-color: var(--color-button);
    padding: 10px 20px;
    border-radius: 4px;
    position: relative;
    top: 200px;
    font-size: 25px;
    color: var(--color-font);
    cursor: pointer;
    outline: 0;
}